#header {
    background-color:darkorange;
    color:black;
    text-align: left;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding:5px;
}
#nav {
    background-color: darkorange;
    color: black;
    line-height:30px;
    height:800px;
    width:15%;
    float:left;
    padding:5px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: oblique;
    text-transform: uppercase;
}
#nav li{
    margin: 0;
    padding: 0;
    list-style: none;
}
#nav a:hover{
    background-color: white;
    border-bottom: 1px solid black;
    color: black;
    padding-bottom: 8px;
}
#nav a{
    background: darkorange;
    border-bottom: 1px solid white;
    color: black;
    display: block;
    margin: 0;
    padding: 8px 12px;
    text-decoration: none;
    font-weight: normal;
}
#section {
    width:80%;
    height: 780px;
    float:left;
    padding:10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow: scroll;
}

#section h2 {
    text-align: center;
}

#footer {
    background-color: darkorange;
    color:black;
    clear:both;
    text-align:center;
    padding:5px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

table {
    width:100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
table tr:nth-child(even) {
    background-color: #eee;
}
table tr:nth-child(odd) {
   background-color:#fff;
}
table th	{
    background-color: black;
    color: white;
}
table a:link {
    color:black;
    text-decoration: underline;
}

table a:hover {
    color: black;
    text-decoration: none;
}

table a:visited{
    color: black;
    text-decoration: underline;
}