{% extends "base.html" %}
{% block content %}
    {% if message_from_server %}
        <br><h3>{{ message_from_server }}</h3><br>
    {% endif %}
    {{ node_info_table }}
    {{ general_config_table }}
    {{ programs_table }}
    {{ op_mode_conf_table }}

<div id="nodes">
    <a href="{{ href_base }}download">Download Config</a>
    <form enctype="multipart/form-data" action="{{ href_base }}upload" method="post">
        <input type="file" name="conf_file" id="file_input" hidden required onchange="submit_clk();"/>
        <input type="submit" id="upload_submit" hidden/>
    </form>
    <a href="#" id="upload_link" onclick="upload_clk()">Upload Config</a>
    <a href="{{ href_base }}reboot">Reboot node</a>
    <a href="{{ href_base }}delete">Delete Node</a>
</div>

{% endblock %}